{%extends "base.html" %}

{% block content %}
<div id="ihatebootstrapnavbar">
  <div class="row">

    <div class="col-sm-2">
     <ul>
        <li><img src="/static/images/logo.svg" ></img></li>
    </ul>
    </div>

    <div class="col-sm-6">
       <form method="POST" action="{{ url_for('notes.search') }}">
        {{ searchform.csrf_token }}
        {{ searchform.search_note(class="form-control", id="search-note", placeholder="Search") }}
        <div class="col-sm-2">
        <input type="submit" value="Post" class="btn btn-default note-submit">
        </div>
      </form>
    </div>

    <div class="col-sm-4">
    <ul>
        <li><img src="/static/images/home.svg"></img>Home</li>
        <li><img src="/static/images/setting.svg"></img>Setting</li>
        <li><img src="/static/images/logout.svg"></img>Logout</li>
    </ul>
    </div>

  </div>
</div>

<div class=" postcontainer">
 <!-- login form-->
 <section>
  <form method="POST" action="{{ url_for('notes.post') }}">
   <div class="row">
    <div class="col-sm-12">
        {{ form.csrf_token }}
        <div class="form-group">
         {{ form.postnote(class="form-control custom-textarea", 
         id ="post-note", rows="10", placeholder="Start writing note here...") }}
         {% for error in form.postnote.errors %}{{ error }}{% endfor %}
        </div>
    </div>
   </div><!--end row-->
   
   <div class="row">
     <div class="form-group">
        <div class="col-sm-7">
         {{ form.entertag(class="form-control custom-tagform", id="input-tag", placeholder="Tags") }}
         {% for error in form.entertag.errors %}{{ error }}{% endfor %}
        </div>
        <div class="col-sm-4">
         <input type="submit" value="Post" class="btn btn-default note-submit">
        </div>
    </div>
   </div><!--end row-->
  </form>  
 </section>
</div><!-- end container -->
    
<div class="container">
    {% block displaynotes %}
    
    {% endblock %}

    {% block same_tag_notes %}
    
    {% endblock %}

    <div class="col-sm-3 custom-border">
     <ul id="tags">
     {% for tag in usertags %}
      <li ><a href="{{ url_for('notes.same_tag_notes', tag=tag) }}">#{{ tag }}</a></li>
     {% else %}
     </ul>
      <p><em>No Tags</em></p>
     {% endfor %}
    </div>
  </div><!-- end row-->
 </div><!--end container-->




{% endblock %}