{%extends "base.html" %}

{% block content %}
<ul class="tags">
    <p>Current tag: {{ tag }}</p>
    {% for notes in notes_with_same_tag %}
        <li>{{ notes }}</li>
    {% endfor %}
</ul>

{% endblock %}

