{% extends "notes/formbase.html" %}

{% block displaynotes %}
<div class="container">
 <div class="row">
   <div class="col-sm-9" id="displaynotes">
    <ul class="notelist">
     {% for note in currentnotes %}
     <li>{{ note.postnote }}</li>
     <li class="text-right"><em>{{ note.datetimeformat }}</em></li>
      {% for tag in note.mytags %}
       <li><em>#{{ tag.entertag }}</em></li>
      {% endfor %}
      
       <li class="delete-button pull-right">
       <a href="{{ url_for('notes.delete_post', noteid=note.id)}}">
       <button type="button" class="btn btn-default">
          <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>
       </button>
       </a>
      </li>
      
     <br>
     
     <hr class="customhr">   
     {% else %}
     <li><em>No notes</em></li>
     {% endfor %}
    </ul>
   </div>


   
{% endblock %}



