{% extends "notes/formbase.html" %}

{% block same_tag_notes %} 

<div class="col-sm-9" id="taggednotes">
  <a href="{{ url_for('notes.post') }}"><h2>&lt;&lt;Notes</h2></a>
  <h1 id="taghead" class="text-center">#{{ tag }}</h1>
  <ul class="notelist">
  {% for note in same_tag_notes %}
   <li>{{ note.postnote }}</li>
   <li class="text-right"><em>{{ note.datetimeformat }}</em></li>
    {% for tag in note.mytags %}
     <li><em>#{{ tag.entertag }}</em></li>
    {% endfor %}
    
    <li class="delete-button pull-right">
     <a href="{{ url_for('notes.delete_post', noteid=note.id)}}">
     <button type="button" class="btn btn-default">
        <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>
     </button>
     </a>
    </li>
    
    <br>
    
   <hr class="customhr">   
   {% else %}
   <li><em>No notes</em></li>
   {% endfor %}
  </ul>
</div>

{% endblock %}   