{%extends "base.html" %}

{% block content %}

<ul class="tags">
    {% for tag in tags %}
    <li><a href="{{ url_for('notes.group_notes', tag=tag) }}">{{ tag }}</a><br></li>
    {% else %}
    <li><em>No tags</em></li>
    {% endfor %}
</ul>

{% endblock %}

