<script type=text/javascript>
 
$(function(){
 
 $( '.tags' ).on( 'click','li', function() {
 $( '#displaynotes' ).hide();
 $( '#taggednotes' ).show();
 
 $( '#taggednotes ul').empty();
 $( '#taghead' ).empty();
 
 $( '#taghead' ).append($(this).text());
 
 $.getJSON( $SCRIPT_ROOT + '/tag', {
  a: $( this ).text(),
  }, function( data ) {
  $.each( data.result, function( index, value ) {
   $.each( value, function ( key, value) {
    
    if ( key == 'date' ) {
     $( '#taggednotes ul' ).append(
       $('<li class="text-right">').append( value ));
    
     $( '#taggednotes ul' ).append( '<hr class="customhr">' );    
     }  
    else {
     $( '#taggednotes ul' ).append(
      $('<li>').append( value ));
     }
    });
   });
  });
 return false;
 });
});
</script>
 