{%extends "base.html" %}
{% block content %}
<style>
  body{
    padding-top: 40px;
  }
</style>
<!-- navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wiredwiki</a>
    </div>
   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="" class="btn btn-warning navbar-btn navbar-right">Download Now</a>
      <ul class="nav navbar-nav">
          <li><a href="#feedback">Feedback</a>
          <li><a href="#gallery">Gallery</a>
          <li><a href="#features">Features</a>
          <li><a href="#faq">Faq</a>
          <li><a href="#contact">ContactUs</a>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- End navbar -->

    <!-- jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>Wiredwiki</h1>
    <p>This is wiredwiki, boostrap tutorial from youtube</p> 
    
    <div class='btg-group'>
      <a href="" class="btn btn-lg btn-warning">Download app</a>
      <a href="" class="btn btn-lg btn-default">Visit store</a>
      <a href="" class="btn btn-lg btn-warning">Spread the word</a>
    </div>
  </div><!-- End container -->
</div><!-- End jumbotron -->

<div class="container">
  <section>
    <div class="page-header" id="feedback">
      <h2>Feedback.<small> Check out the Awesome Feedback</small></h2>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ligula sit amet nibh 
          gravida laoreet. Fusce scelerisque laoreet aliquet. Pellentesque pulvinar nulla justo, at hendrerit leo egestas eu.
          Quisque sed congue dui. 
          </p>
          <footer>John doe</footer>
        </blockquotes>
      </div>
      
      <div class="col-lg-4">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ligula sit amet nibh 
          gravida laoreet. Fusce scelerisque laoreet aliquet. Pellentesque pulvinar nulla justo, at hendrerit leo egestas eu.
          Quisque sed congue dui. 
          </p>
          <footer>John doe</footer>
        </blockquotes>
      </div>
      
      <div class="col-lg-4">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ligula sit amet nibh 
          gravida laoreet. Fusce scelerisque laoreet aliquet. Pellentesque pulvinar nulla justo, at hendrerit leo egestas eu.
          Quisque sed congue dui. 
          </p>
          <footer>John doe</footer>
        </blockquotes>
      </div>
    </div><!-- End row -->
  </section>
</div><!--End Container-->


<!-- call to action -->
<section>
  <div class="well">
    <div class="container text-center">
      <h3>Subscribe for more free stuff</h3>
      <p>Enter your name and email</p>
      
      <form action="" class="form-inline">
        <div class="form-group">
            <label for="subscription">Subscribe</label>
            <input type="text" class="form-control" id="subscription" placeholder="Your name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <button type="submit" class="btn btn-default">Subscribe</button>
        <hr>
    </form>
    </div><!-- End container -->
  </div>
</section>

<!-- Gallery -->
<div class="container">
  <section>
       <div class="page-header" id="feedback">
        <h2>Feedback.<small> Check out the Awesome Gallery</small></h2>
      </div>
      
      <div id="screenshot-carosel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#screenshot-carosel" data-slide-to="0" class="active"></li>
      <li data-target="#screenshot-carosel" data-slide-to="1"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://www.planwallpaper.com/static/images/Beauty-of-nature-random-4884759-1280-800_nqwrrog.jpg" alt="Wikipedia image">
      </div>
      <div class="item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Bachalpseeflowers.jpg" alt="AI image" >
      </div>
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#screenshot-carosel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#screenshot-carosel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div><!--End carousel -->
  </section>

<!-- features -->
  <section>
    <div class="page-header" id="feedback">
      <h2>Feedback.<small> Check out the Awesome Feedback</small></h2>
    </div><!-- End Page Header -->
  
    <div class="row">
      <div class="col-sm-8">
        <h3>This is the heading</h3>
        <p>Quantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions with energy on the scale of atoms and subatomic particles.</p>
      </div>
        <div class="col-sm-4">
            <img src="https://i.ytimg.com/vi/CBrsWPCp_rs/maxresdefault.jpg" class="img-responsive" alt="test image" width="400" heigh="400">
        </div>
      </div>
      
    <div class="row">
      <div class="col-sm-8">
        <h3>This is the heading</h3>
        <p>Quantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions with energy on the scale of atoms and subatomic particles.</p>
      </div>
        <div class="col-sm-4">
            <img src="http://i.livescience.com/images/i/000/070/600/iFF/shutterstock_94527511.jpg?1411782027" class="img-responsive" alt="test image" width="400" heigh="400">
        </div>
      </div>
    
    <div class="row">
      <div class="col-sm-8">
        <h3>This is the heading</h3>
        <p>Quantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions with energy on the scale of atoms and subatomic particles.</p>
      </div>
        <div class="col-sm-4">
            <img src="https://i.ytimg.com/vi/CBrsWPCp_rs/maxresdefault.jpg" alt="test image" class="img-responsive" width="400" heigh="400">
        </div>
      </div>
      </div>
    </div>
    
    <hr>
    <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-home"></span>
            <h4>This is wired welcome</h4>
            <p>uantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions 
            with energy on the scale of atoms and subatomic particles.</p>
          </div>
        </div>
      </div>
      
       <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-time"></span>
            <h4>This is wired welcome</h4>
            <p>uantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions 
            with energy on the scale of atoms and subatomic particles.</p>
          </div>
        </div>
      </div>
      
       <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-body">
            <span class="glyphicon glyphicon-headphones"></span>
            <h4>This is wired welcome</h4>
            <p>uantum mechanics is the science of the very small: the body of scientific principles that explains the behaviour of matter and its interactions 
            with energy on the scale of atoms and subatomic particles.</p>
          </div>
        </div>
      </div>
      
    </div><!-- End row -->
  </section>
</div><!-- End Container -->


<div class="container">
  <section>
    <div class="page-header" id="features">
      <h2>FAQ.<small>Engaging with wiredwiki</small></h2>
    </div><!-- end page header -->
    
   <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div> 
  </section>
</div><!-- End Container-->

<div class="container">
  <section>
    <div class="page-header" id="contact">
      <h2>Contact Us.<small>Contact us for more.</small></h2>
    </div><!-- end page header -->
    
    <div class="row">
      <div class="col-lg-4">
        <p>Send us the message, or contact us from the address below</p>
        
        <address>
          <strong>Wiredwiki OpenSource</strong></br>
          111. test test </br>
          plot no 999 </br>
          mel
          p: 000000000
        </address>
      </div>
      
    <div class="col-lg-8">
      
      <form class="form-horizontal">
        <div class="form-group">
          <label for="user-name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="user-name" placeholder="Enter your name">
          </div>
        </div><!-- end form group -->
        
        <div class="form-group">
          <label for="user-name" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="user-name" placeholder="Enter your email address">
          </div>
        </div><!-- end form group -->
        
        <div class="form-group">
          <label for="user-name" class="col-lg-2 control-label">Your website</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="user-name" placeholder="Your website">
          </div>
        </div><!-- end form group -->
        
        <div class="form-group">
          <label for="user-name" class="col-lg-2 control-label">Message</label>
          <div class="col-lg-10">
            <textarea name="user-name" id="user-message" class="form-control"
            cols="20" rows="10" placeholder="Enter your message"></textarea>
          </div>
        </div><!-- end form group -->
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        
      </form>
    </div>
  </div><!-- end the row -->
  </section>
</div><!-- end the container -->

<!--footer element -->
<hr>
<div class="container text-center">
  <ul class="list-inline">
    <li>twitter</li>
    <li>google</li>
    <li>facebook</li>
  </ul>
</div><!-- end container -->

{% endblock %}