{%extends "base.html" %}
{% block content %}
<style>
    body{
        background-color:black;
    }
    .col-xs-12{
        height: 100px;
        background-color: blue;
        color: white;
        text-align: center;
    }
    
    .col-xs-6{
        height: 100px;
        background-color: yellow;
        color: black;
        text-align: center;
        border: 3px solid black;
    }
    
    .col-xs-4{
        height: 100px;
        background-color: green;
        color: white;
        text-align: center;
        border: 3px solid black;
    }
    
    .col-xs-8{
        height: 100px;
        background-color: red;
        color: black;
        text-align: center;
        border: 3px solid black;
    }
    
   .footer .col-sm-4{
        height: 100px;
        background-color: purple;
        color: white;
        text-align: center;
        border: 2px solid black;
    }
</style>
<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <h1 class="visible-xs">Extra small screens</h1>
            <h1 class="visible-sm">small screens</h1>
            <h1 class="visible-md">medium screens</h1>
            <h1 class="visible-lg">Large screens</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-lg-4">
            .col-xs-6
        </div>
        <div class="col-xs-6 col-lg-8">
            .col-xs-6
        </div>
    </div>

    <div class="row hidden-xs">
        
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-4 col-lg-push-8">
                    .col-xs-4
                </div>
                <div class="col-xs-8 col-lg-pull-4">
                    .col-xs-8
                </div>
            </div>
        </div>
        
         <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-4">
                    .col-xs-4
                </div>
                <div class="col-xs-8">
                    .col-xs-8
                </div>
            </div>
        </div>
        
    </div> 
    
    <div class="row footer">
        <div class="col-sm-4">
            .col-xs-4
        </div>
        
         <div class="col-sm-4">
            .col-xs-4
        </div>
        
         <div class="col-sm-4">
            .col-xs-4
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4 panel">
            Find easydevtuts on social media
        </div>
    </div>
    
</div>




{% endblock %}