{% extends "base.html" %}

{% block content %}

{% block style %}
 <style>
   .logincontainer {
     margin-top:200px;
   }
 </style> 

{% endblock %}
 
<div class="container logincontainer" >

 <!-- login form-->
 <section>
  <div class="row">
   <div class="col-sm-offset-2 col-sm-6">
    <div class="well">
      <form method="POST" action="." class="form-horizontal">
       
       <div class="row">
        <div class="col-sm-4">
          <h5> Login to Sparrow Note</h5>
        </div>
       </div>
     
       <hr>
       {{ form.csrf_token }}
       
       <div class="form-group">
       {{ form.email.label(class="col-sm-4 control-label") }} 
        <div class="col-sm-6">
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}{{ error }}{% endfor %}
        </div>
       </div>
       
       <div class="form-group">
        {{ form.password.label(class="col-sm-4 control-label") }} 
         <div class="col-sm-6">
        {{ form.password(class="form-control") }} 
         {% for error in form.password.errors %}{{ error }}{% endfor %}
         </div>
       </div>
       
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
         <input type="login-submit" value="Login" class="btn btn-default">
        </div>
      </div>
      
      <div class="row">
       <div class="col-sm-offset-4 col-sm-8">
         <h5>New user <a href="{{ url_for('users.register') }}">Register here</a></h5>
       </div>
      </div>
     </form>
 
    </div><!-- end well -->
   </div>
   
  </div><!--end row-->
 </section>

</div><!--end container -->

{% endblock %}