{% extends "base.html" %}

{% block content %}
 
{% block style %}
 <style>
   .customcontainer {
     margin-top:200px;
   }
   .customwell{
    background:None;
   }
 </style> 

{% endblock %}
<div class="container customcontainer">
 <!-- login form-->
 <section>
  <div class="row">
   <div class="col-sm-offset-2 col-sm-6">
    <div class="well customwell">
      <form method="POST" action="." class="form-horizontal">
       
       <div class="row">
        <div class="col-sm-4">
          <h5> Register new account</h5>
        </div>
       </div>
     
       <hr>
       {{ form.csrf_token }}
       
       <div class="form-group">
       {{ form.name.label(class="col-sm-4 control-label") }} 
        <div class="col-sm-6">
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}{{ error }}{% endfor %}
        </div>
       </div>
       
       <div class="form-group">
        {{ form.email.label(class="col-sm-4 control-label") }} 
         <div class="col-sm-6">
        {{ form.email(class="form-control") }} 
         {% for error in form.email.errors %}{{ error }}{% endfor %}
         </div>
       </div>
      
        <div class="form-group">
         {{ form.password.label(class="col-sm-4 control-label") }} 
          <div class="col-sm-6">
          {{ form.password(class="form-control") }}
          {% for error in form.password.errors %}{{ error }}{% endfor %}
          </div>
       </div>
       
       <div class="form-group">
        {{ form.confirm.label(class="col-sm-4 control-label") }} 
         <div class="col-sm-6">
        {{ form.confirm(class="form-control") }} 
         {% for error in form.confirm.errors %}{{ error }}{% endfor %}
         </div>
       </div>
       
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
         <input type="submit" value="Register" class="btn btn-default">
        </div>
      </div>
      
      <div class="row">
       <div class="col-sm-offset-4 col-sm-8">
         <h5>Already registered? <a href="{{ url_for('users.register') }}">Login here</a></h5>
       </div>
      </div>
     </form>
 
    </div><!-- end well -->
   </div>
  </div><!--end row-->
 </section>
</div><!--end container -->

{% endblock %}    

