<form method="POST" action="{{ url_for('users.search') }}">
  {{ form.csrf_token }}
  {{ form.searchnote(class="form-control", id="search-note", placeholder="Search") }}
  <div class="col-sm-2">

  <input type="submit" value="Post" class="btn btn-default note-submit">
  </div>
</form>
