{% extends "base.html" %}
{% block content %}

{% block style %} 
 <style>
  #custommaincontainer {
   margin-top: 150px;
  }
 </style>
{% endblock %}

<!-- form modification -->
<div class="container" id="custommaincontainer">
 
 <!-- login form-->
 <section>
  <div class="row">
   <div class="col-sm-6">
     <form method="POST" action="{{ url_for('users.login') }}" class="form-horizontal">
        
        {{ loginform.csrf_token }}
      
      <div class="form-group">
      {{ loginform.email.label(class="col-sm-4 col-md-4 control-label") }} 
       <div class="col-sm-8 col-md-7">
       {{ loginform.email(class="form-control", id="log-emailaddr" ) }}
       </div>
      </div>
      
      <div class="form-group">
       {{ loginform.password.label(class="col-sm-4 col-md-4 control-label") }} 
        <div class="col-sm-8 col-md-7">
       {{ loginform.password(class="form-control", id="log-pass") }} 
        </div>
      </div>
      
     <div class="form-group">
       <div class="col-sm-offset-4 col-sm-4">
        <input type="submit" value="Login" class="btn btn-default log-submit">
       </div>
     </div>
     
    </form>
   </div>
  </div><!--end row-->
 </section>
 
 <!-- end login form -->
 <hr>
 <!-- registration form -->
  <section>
  <div class="row">
   <div class="col-sm-6">
     <form method="POST" action="{{ url_for('users.register') }}" class="form-horizontal">
       
       {{ regform.csrf_token }}
      
      <div class="form-group">
      {{ regform.name.label(class="col-sm-4 col-md-4 control-label") }} 
        <div class="col-sm-8 col-md-7">
       {{ regform.name(class="form-control", id="username") }}
       </div>
      </div>
      
      <div class="form-group">
       {{ regform.email.label(class="col-sm-4 col-md-4 control-label") }} 
        <div class="col-sm-8 col-md-7">
       {{ regform.email(class="form-control", id="reg-email-addr") }} 
        </div>
      </div>
      
      <div class="form-group">
      {{ regform.password.label(class="col-sm-4 col-md-4 control-label") }} 
        <div class="col-sm-8 col-md-7">
       {{ regform.password(class="form-control", id="reg-pass") }}
       </div>
      </div>
      
      <div class="form-group">
       {{ regform.confirm.label(class="col-sm-4 col-md-4 control-label") }} 
         <div class="col-sm-8 col-md-7">
       {{ regform.confirm(class="form-control", id="repeat-pass") }} 
        </div>
      </div>
      
     <div class="form-group">
       <div class="col-sm-offset-4 col-sm-4">
        <input type="submit" value="Register" class="btn btn-default reg-submit">
       </div>
     </div>
     
    </form>
   </div>
  </div><!--end row-->
 </section>
 <!--end registration form -->
</div> <!-- end container -->


{% endblock %}