body {
    font-family: 'Roboto Slab', serif;
  }
  
/* ihatebootstrapnavbar */

#ihatebootstrapnavbar{
 font-size:1.5em;
}

#ihatebootstrapnavbar ul li {
 display: inline;
 margin:5px;
}

/* end ihatebootstrapnavbar*/

/* notes/post.html */

.postcontainer {
 margin-top: 0;
}

#displaynotes {

}
#displaynotes ul {
list-style-type:none
}

#taggednotes  {
background-color: #cccccc;
}
#taggednotes ul {
list-style-type:none
}

#tags li {
display: inline;
}

#tags li a:link{
background: #6D6960;
color: #FFB42F;
}

#tags li a:visited{
color: #FFB42F;
}

#tags li a:hover {
text-decoration: None;
color: #F0FF00;
}

.customhr {
border-top: none;
border-left: none;
border-right: none;
border-bottom: dashed #91692C;
border-width: 1px;
}

.custom-border {
border-left: solid 1px #cccccc;
}

.custom-textarea{
border-top: none;
border-left: none;
border-right: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none; 
resize: none;
}

.custom-textarea:focus {
outline: none !important;
}

.custom-tagform{
border-top: none;
border-left: none;
border-right: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none; 
}

.form-control:focus{
border-color: #cccccc;
-webkit-box-shadow: none;
box-shadow: none;
}


/* end notes/post.html */


 